.nav-bg {
    height: 50px;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    padding: 10px;
    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 80px;
        .nav-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 200px;
                padding-top: 15px;
            }
        }
        .nav-category {
            color: #fff;
            display: flex;
            align-items: center;
            .nav-hamburger{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .nav-components{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    position: fixed;
                    top: 50px;
                    z-index: 1;
                    background-color: #1b1b1b;
                    padding: 10px;
                    border-radius: 0 0 10px 10px;
                }
            }
    
            a {
                text-decoration: none;
                color: #fff;
            }
            a:focus,:hover{
                color: #03B2A4;
                
            }
        }
    }
}


@media (max-width: 1024px) {
    .nav-bg {
        .navbar {
            margin: 10px 40px;
        }
    }
}

@media (max-width: 576px) {
    .nav-bg {
        .navbar {
            margin: 10px 20px;
        }
    }
}